* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.main_div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.center_div {
  width: 40rem;
  height: 45rem;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 9px 3px 10px rgb(78 94 94);
}

.quiz_div {
  width: 32rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.center_div h3 {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 3rem;
}
.center_div ul {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.center_div ul li {
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  list-style: none;
}

.center_div ul li label:hover,
.center_div ul li input:hover {
  cursor: pointer;
}
.submit {
  padding: 1.2rem 3.3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(78 94 94);
  transition: all 0.3s;
}

.submit:hover {
  box-shadow: 1px 2px 1px rgb(78 94 94);
  cursor: pointer;
}

.score_div {
  height: 10rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}
.score_div h2 {
  font-size: 2.8rem;
  text-transform: capitalize;
}

.score_div .play_again {
  padding: 1.2rem 6rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: aliceblue;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
  background-color: rgb(78 94 94);
  transition: all 0.3s;
  margin-top: 2rem;
}

.score_div .play_again:hover {
  box-shadow: 1px 2px 1px rgb(78 94 94);
  cursor: pointer;
}
footer {
  height: 1rem;
  padding-top: 10rem;
  text-align: center;
  display: none;
  font-size: medium;
}

/* rensponsive for mobile device */

@media screen and (max-width: 482px) {
  html {
    font-size: 55%;
  }
  .center_div {
    width: 90%;
  }
  .quiz_div {
    width: 85%;
  }
}
